@import "../../../scss/variables";
@import "../../../scss/mixins";

.product-container {
  background-color: $grey-light;
  margin: 1rem 2rem;
  padding: 2rem;
  min-height: 90vh;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;

  @include flexRow(nowrap, center, center);
  @include md {
    padding: 5rem 2rem;
  }
  @include sm {
    margin: 1rem 1rem;
    padding: 3rem 1rem;
  }

  .product-detail {
    @include flexRow(nowrap, start, center);
    @include md {
      @include flexCol(center, center);
    }

    .img-product {
      background-color: $white;
      padding: 5rem;
      border-radius: 3rem;

      @include md {
        padding: 3rem;
      }

      img {
        width: 13rem;

        @include md {
          width: 10rem;
        }
      }
    }

    .product-card-info {
      width: 50%;
      padding: 1rem 2rem;

      @include md {
        width: 100%;
      }
      @include sm {
        padding: 1rem 1rem;
      }

      .product-info {
        h1 {
          font-size: 2.5em;
          margin-bottom: 0.5rem;
          line-height: 1em;

          @include sm {
            font-size: 1.9em;
          }
        }

        p {
          font-size: 1.1em;
          font-weight: 100;
          margin-bottom: 1.5rem;

          @include sm {
            font-size: 1em;
            margin-bottom: 1rem;
          }
        }

        .price {
          font-size: 2em;
          margin-bottom: 1.5rem;
          font-weight: 600;
          margin-bottom: 1.5rem;
        }
      }
    }

    .filters-select {
      margin-top: 2rem;

      @include flexRow(nowrap, center, flex-start);

      .filter-select-color {
        margin-right: 3rem;
      }

      label {
        font-weight: 600;
        font-size: 1.1em;
        margin-right: 0.5rem;
      }

      select {
        border: none;
        background-color: $grey-light;
        font-size: 1.1em;
        border-bottom: 1px solid $black-dark;

        &:active,
        &:focus,
        &:focus-visible {
          border-bottom: 1px solid $black-dark;
          outline: none;
        }
      }
    }
  }
}
