@import "../../../scss/variables";
@import "../../../scss/mixins";

.count-cart {
  background-color: $green-lime;
  padding: 0.2rem 0.2rem;
  border-radius: 5rem;
  position: absolute;
  margin-top: -0.5rem;
  font-size: 0.8em;
  font-weight: 600;
}
