// BREACKPOINTS
@mixin xs {
  @media (max-width: 447px) {
    @content;
  }
}

@mixin sm {
  @media (max-width: 672px) {
    @content;
  }
}

@mixin md {
  @media (max-width: 815px) {
    @content;
  }
}

@mixin lg {
  @media (max-width: 1024px) {
    @content;
  }
}

@mixin xl {
  @media (max-width: 1280px) {
    @content;
  }
}

// LAYAOUT
@mixin flexCol($align, $justify) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}

@mixin flexRow($wrap, $align, $justify) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  align-items: $align;
  justify-content: $justify;
}
