@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

// FONTS
$dm-sans: "DM Sans", sans-serif;

// COLORS
$white: #ffffff;
$black-light: #232323;
$black-dark: #0f0f0f;
$grey-light: #f2f2f2;
$grey-dark: #181818;
$green-lime: #cbfb45;
