@import "../../../scss/variables";
@import "../../../scss/mixins";

.products-list-container {
  background-color: $grey-light;
  margin: 1rem 2rem;
  padding: 5rem 2rem;
  min-height: 60vh;
  border-radius: 3rem;
  -webkit-border-radius: 3rem;
  -moz-border-radius: 3rem;
  -ms-border-radius: 3rem;
  -o-border-radius: 3rem;

  @include flexRow(nowrap, flex-start, center);
  @include mg {
    @include flexCol(flex-start, center);
  }
  @include md {
    margin: 1rem 1rem;
    min-height: 50vh;
  }
  @include sm {
    margin: 1rem 1rem;
    min-height: 40vh;
    padding: 4rem 0.5rem;
  }

  .menu-filter {
    @include mg {
      display: flex;
      justify-content: space-between;
      width: 100%;
      flex-direction: row-reverse;
      margin-bottom: 3rem;
      padding: 0 2rem;
    }
    @include sm {
      padding: 0 1rem;
      margin-bottom: 1rem;
      justify-content: center;
    }
  }

  .product-btn {
    @include flexCol(center, center);

    .products-list {
      gap: 3rem 0;

      @include flexRow(wrap, flex-start, space-evenly);
    }
    .button-view-more {
      margin-top: 5rem;

      button {
        padding: 0.5rem 2rem;
        font-size: 1.2em;
        border: 1px solid $black-dark;
        border-radius: 5rem;

        &:hover {
          background-color: $green-lime;
          border: 1px solid $green-lime;
          font-weight: 600;
          cursor: pointer;
        }
      }
    }
  }
}
